form {
  width: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input {
  width: 100%;
  margin-bottom: 3rem;
  height: 2rem;
  padding: 5px;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 10px 0px 10px 0px;
  transform: rotatez(2deg);
  background-color: transparent;
  font-family: "Caveat", sans-serif;
  font-size: 25px;
}

form input::placeholder {
  color: rgb(36, 36, 36);
  font-family: "Caveat", sans-serif;
  font-size: 1.5rem;
}
